/*
.container{
    width: 95%;
    background: #fff;
}
*/

.c_h1{
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.c_d1{
    width: 100%;
    height: 200px;
}

.c_f1{
    margin: 5px;
}

.c_i1{
    width: 100%;
    height: 36px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20px;
}

.c_i2{
    width: 31.25%;
    height: 36px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.c_i3{
    width: 100%;
    height: 40px;
    background: #002c80;
    color: white;
}