.container{
    width: 100%;
    height: 400px;
    background: #fff;
}

.c_d1{
    width: 100%;
    height: 50px;
    margin-top: 200px;
}

.c_d2{
    width: 100%;
    height: 60px;
}

.c_input{
    height: 26px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 13px;
    padding-left: 30px;
    padding-right: 20px;
}

.btn{
    width: 85px;
    height: 40px;
    background: red;
    border:1px solid white;
    border-radius: 20px;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.line_1{

    padding: 0 20px 0;
    margin: 100px 0 20px 0;
    line-height: 1px;
    border-left: 100px solid #ddd;
    border-right: 100px solid #ddd;
    text-align: center;
}

.wxLogo{
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img{
    width: 50px;
    height: 50px;
    border-radius:25px;
}